.console-frame .side .brand{
    background-color: rgba(0, 0, 0, 0.7);
    font-family: "Times New Roman",Georgia,Serif;
    color: #FFFFFF;

}

.pointer{
    cursor: pointer;
}

#my-left-box > .menu > li  a{
    display: block;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #6ddddc !important;
}

.layui-table-page >div{
    text-align: right !important;
}

.radius-none{
    border-radius: 0 !important;
}

.form-control{
    border: 1px solid #93ecff !important;
}

.control-label{
    font-weight: 400;
}


.admin-title{
    color: #FC9D9A !important;
    font-family: "Times New Roman",Georgia,Serif;
    font-size: 20px;
}

.new-article tbody tr {
    border-bottom: 1px solid #e4eaec;
}

.layui-layer-btn-c a{border-radius: 0 !important;}